<nav class="contenedorNav">
  <div class="contenedoImagen">
    <!--  <img
      class="imagenLogo"
      src="https://www.newshore.es/media/1411/newshore-by_flyr-logo.svg"
      alt=""
    /> -->
    <h1>NewShore</h1>
  </div>
  <div class="contenedorMenu">
    <div class="contenedorBoton">
      <button class="btnIniciarSesion">Iniciar sesión</button>
    </div>
    <div class="contenedorHamburguesa">
      <div class="hamburguesa">
        <div class="primeraLinea"></div>
        <div class="primeraLinea"></div>
        <div class="ultimaLinea"></div>
      </div>
    </div>
  </div>
</nav>
